.wrapper {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

body {
    margin: 0;
}

header {
    grid-area: "header";
}

main {
    grid-area: "main";
}

footer {
    grid-area: "footer";
}

nav ul {
    margin-top: 0;
    margin-bottom: 0;
    height:6vh;
    background-color: #F4743B;
    display: grid;
    grid-area: "nav";
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav li {
    list-style-type: none;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
}

nav a {
    display: block;
    width: 12vw;
    height: 3vh;
    text-decoration: none;
    color: #483C46;
}

li:nth-child(1) {
    padding-right: 28vw;
    text-align: center;
}

li:nth-child(2) {
    text-align: center;
}

li:nth-child(3) {
    text-align: center;
}

h1 {
    display: none;
}

a:link {

}

a:visited {

}

nav a:focus, nav a:hover {
    background-color: #a34a24;
}

a:active {

}

.ovanlig, .vanlig, .home {
    color:white;
}

main section:nth-child(1) {
    height: 40vh;
    background-image: url(https://st4.depositphotos.com/1005563/19666/i/450/depositphotos_196668956-stock-photo-balls-sport-trophy-championship-concept.jpg);
    background-size: cover;
    background-position: center;
}

