.wrapper {  /*En klass på en div som jag använder för att sätta en grid på hela sidan*/
    display: grid; /*Skapar en grid*/
    grid-template-areas: /*Säger vilka delar som ska vara med i griden och vilken ording de är*/
        "header"
        "nav"
        "main"
        "footer";
} /*Sluttag, visar att här slutar redigeringen av wrapper*/

body { /*Ändrar body på sidan, jag använder det för att nollställa min margin för min body eftersom den har en defult margin på 8px*/
    margin: 0; /*Sätter margin till 0, gör att bodin inte har något oönskat avstånd ifrån något*/
}

header { /*Ändrar header*/
    grid-area: header; /*Berättar för min wrapper att demna delen ska vara min grid area header som jag sagt ska vara min min grid*/
}

main { /*Ändrar main*/
    grid-area: main; /*Detta är main i wrapperns grid*/
}

footer { 
    text-align: center; /*Gör så att all text och lite annat i min footer centreras*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*Definerar vilket typsnitt jag ska avända i min footer*/
    color: #4e4e4e; /*Ändrar min textfärg*/
    background-color: rgb(240, 240, 240); /*Ändrar min backgrundsfärg*/
    grid-area: footer;
    display: grid; /*Skapar en grid i footer*/
    grid-template-columns: 1fr 1fr 1fr; /*Skapar 3 horizontella rutor och alla har samma storlek (1fr)*/
}

footer a { /*Startar området där jag kan redigera alla a i min footer, a skapar hyperlänkar till andra dokument, sidor, filer eller annat*/
    text-decoration: none; /*Tar bort textens decoration, detta använde jag för att ta bort understräcket under länken*/
}

footer p { /*Ändrar alla p element i min footer, p är min huvudtext*/
    margin-bottom: 2px; /*skapar ett avstånd på 2px under min text*/
}

header > nav ul { /*Redigerar för oordnade listor (ul) som är i navigationsmenyn (nav) direkt inom sidhuvudet (header)*/
    font-family: minfont; /*Använder fontent minfont som jag har laddat ner från google fonts*/
    height: fit-content; /*Sätter höjden så att den anpassar sig för att få plats med allt inehåll, i detta fall allting i min navigationsmeny (nav)*/
    margin-top: 0; /*Gör att navigationsmenyn nuddar toppen av sidan genom att ta bort defult mellanrum*/
    margin-bottom: 0; /*Gör så att navigationsmenyn nuddar toppen av bodyn genom att ta bort defult mellanrum*/
    background-color: #F4743B; 
    display: grid;
    grid-area: nav;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*Delar upp min grid till 4 horizontella delar vart alla är storleken 1fr (fraktion) så alltså 4 lika stora delar*/
}

nav li { /*Mina listor i min nav*/
    list-style-type: none; /*Tar bort styling för lista, prickar*/
}

nav a {
    font-size: 24px; /*Sätter storleken på alla a i nav till 24 pixlar*/
    text-decoration: none;
    color: #312e30;
}

header > nav li:nth-child(1) { /*Mitt första li element i nav som ligger direkt i header*/
    padding-right: 25.5vw; /*Sätter ett avstånd till höger med 25,5 viewport width, vilket motsvarar 25,5% av enhetens bredd*/
    text-align: center;
    margin-top: auto; /*Gör att mitt avstånd över ändras aoutomatiskt*/
    margin-bottom: auto; /*Gör samma sak fast under, använder detta för att centrera mitt objekt i höjden utan att påvärka sidorna*/
}

header > nav li:nth-child(2) { /*Ändrar andra li elementet i nav som ligger direkt i header*/
    padding-right: 26px;
    margin: auto; /*Centrerar li elementet på alla håll*/
}

header > nav li:nth-child(3) {
    margin: auto;
    text-align: center;
}

h1 { /*Stylar alla h1*/
    display: none; /*Gör så att min h1 inte visas*/
}

img { /*Stylar alla img*/
    border-radius: 20px; /*Rundar hörnen på alla mina img med en radius på 20 pixlar*/
}

.ovanlig, .vanlig, .home { /*Ändrar färg på de valda klasserna, detta använde jag för att byta färg på navigations sidans text som man är på*/
    color:white;
}

.sport table { /*Min tabell inom klassen sport*/
    margin-left: auto; /*Margin auto åt vänster*/
    margin-right: auto; /*Margin auto åt höger, centrerar table åt vänster höger utan att påvärka upp och ner*/
    margin-bottom: 12px;
    width: 90%; /*Ändrar bredden till 90% av hela sidan bredd*/
    border: solid black; /*Skapar en ram runt som är svart*/
    border-collapse: collapse; /*Gränserna kollapsar ihop till en enda gräns mellan cellerna. Detta gör tabellen renare*/
}

.sport th, 
.sport td { /*Stylar för th inom klassen sport och td inom klassen sport*/
    text-align: left; /*Gör att texten centreras åt vänster*/
    font-size: 30px;
}

.sport tr:nth-child(even) { /*Ändrar alla jämna tr inom sport. Det finns en 1 en 2 och så vidare tills så många jag har, alltså ändrar den alla med jämna nummer som 2,4 och så*/
    background-color: #135f69; /*Ger mig zebra striping*/
}

.sport caption { /*Väljer min caption inom sport*/
    font-size: 30px;
    margin-bottom: 2px;
}

.sport dl { /*Min definition list i sport*/
    background-color: #2196F3;
    width: fit-content; /*Ändrar breden för att få plats med allt inehåll*/
    border-radius: 12px; /*Rundar hörnen med en cirkel radie på 12 pixlar*/
    margin-left: auto;
    margin-right: auto;
}

figure { 
    margin: 0;
}

/*------------------------------------------------Formulär------------------------------------------------*/

#index main section:nth-child(5) { /*Min femte section i Index main*/
    display: flex;
    flex-direction: column;
    align-items: center; /*Centrerar innehållet i sectionen till mitten*/
    background-color: #afafaf;
    padding: 20px; /*Gör så mina element hamnar lite längre ner*/
    font-family: "Sedan SC", serif; /*Använder en font som jag länkat från en sida*/
}

form { /*Mitt formulär*/
    width: fit-content;
    display: flex; /*Sätter en flexible layout så att jag kan göra så att allt innehåll placeras i en viss stil, eller ordning*/
    flex-direction: column; /*Gör så min flexible layout placeras vertikalt, så alla objekt hamnar vertikalt från varandra, ger mitt formulär ording*/
    gap: 10px; /*Skapar ett mellanrum mellan mina rader och kolumner på 10 pixlar*/
}

input:invalid { /*När min input är invalid*/
    border-color: red; /*Ändrar min ram färg till röd*/
}

input:valid { /*När min input är valid*/
    border-color: green; /*Ändrar ram färgen till grön*/
}

input {  
    width: 300px;
    padding: 12px 20px; /*Ger en padding på 12 pixlar på toppen och botten och 20 pixlar på sidorna*/
    margin: 1px;
    border-radius: 4px;
}

#index button { /*Min button i index*/
    width: 45ch; /*Sätter en bredd på 45 ch, ch är bredden på siffran 0 i det aktuella typsnittet/storleken*/
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px; /*Gör knappen tjockare*/
    border: none; /*Tar bort border*/
    border-radius: 4px;
    cursor: pointer; /*Ändrar musutseende när man håller över den*/
    margin: auto;
}

input[type="checkbox"] { /*Ändrar alla inputs som är typen checkbox*/
    display: none; /*Tar bort orginal checkboxen, detta gör jag för att skappa min egna checkbox*/
}

input[type="checkbox"] + label { /*Skapar min egna checkbox*/
    display: inline-block; 
    vertical-align: middle;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; 
    height: 20px; 
    border: 2px solid #ccc;
    background-color: #fff;
}

input[type="checkbox"]:checked + label:before {
    background-color: hsla(207, 90%, 54%, 1); 
}

input[type="checkbox"] + label:after {
    content: '\2713'; 
    position: absolute;
    left: 4px; 
    top: 1px;
    font-size: 16px; 
    color: #fff; 
}

input[type=radio] {
    margin: auto;
}

#numbers {
    width: 20em;
}

/*--------------------------------------------------------------------------------------------------------*/

header ~ nav {
    grid-area: nav;
    height: 100%;
    min-height: 30px;
    position: relative;
} 

header + nav section {
    position: absolute;
    height: min-content;
    width: 100%;
    top: 100%;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, .5); 
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
} 

header + nav:hover section, header + nav:focus-within section {
    opacity: 1;
    height: 23vh;
    background-color: rgba(194, 97, 56, 0.877);
    transform: translateY(0);
    pointer-events: auto;
} 

#ovanliga button {
    width: 100%;
    height: 100%;
}

#index main section:nth-child(1) {
    height: 40vh;
    background-image: url(/src/sport.jpg);
    background-size: cover;
    background-position: center;
}

#index main > section:nth-child(2) {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    background-color: rgb(220, 195, 141);
}

#index main > section:nth-child(3) {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    background-color: rgb(162, 228, 227);
}

#index main > section:nth-child(2) h2 {
    width: 100%;
    margin: 0;
}

#index main > section:nth-child(2) > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index main > section:nth-child(3) > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index main > section:nth-child(4) {
    background-color: rgb(0, 217, 255);
    padding-bottom: 1px;
}

#index main section:nth-child(4) > ol {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#index main section:nth-child(4) li {
    margin-top: 12px;
    font-size: 25px;
}

#index main section:nth-child(2) img {
    width: 70%;
}

#index main section:nth-child(3) img {
    width: 90%;
}

#index main h2 {
    width: 44vw;
}

#index main h4 {
    padding-top: 12px;
    text-align: center;
    margin: 0;
}

#vanliga h2, 
#ovanliga h2 {
    margin: 0;
    font-size: 4ex;
    text-align: center;
    background-image: linear-gradient(turquoise, rgb(156, 156, 156));
}

#vanliga main p, 
#ovanliga main p {
    margin: 2px;
    text-align: center;
}

#vanliga main a,
#ovanliga main a {
    margin-bottom: 2px;
}

#vanliga main section, 
#ovanliga main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

#vanliga main section h3,
#vanliga main section h4,
#vanliga main section h5,
#ovanliga main section h3,
#ovanliga main section h4,
#ovanliga main section h5,
#ovanliga main section h6 {
    font-size: 25px;
    margin-top: 28px;
    margin-bottom: 3px;
}

#vanliga main section:nth-child(1) {
    background-color: hsl(61, 87%, 49%);
}

#ovanliga main section:nth-child(2) {
    background-color: #637dc5;
}

#vanliga main section:nth-child(2) {
    background-color: #9eb565;
}

#vanliga main section:nth-child(3) {
    background-color: white;
}

#ovanliga main section:nth-child(3) {
    background-color: #c03c43;
}

#vanliga main section:nth-child(4) {
    background-color: #f5f6fa;
}

#ovanliga main section:nth-child(4) {
    background-color: #8f857a;
}

#ovanliga main section:nth-child(5) {
    background-color: hsl(58.15deg 98.78% 67.84%);
}

#vanliga main section img,
#ovanliga main section img {
    padding-top: 12px;
    width: 80%;
}

#vanliga main {
    background-color: #4f81ce;
}

#vanliga video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.sport main h2 {
    text-align: center;
}

.sport main p {
    margin-top: 0;
    padding-left: 5px;
    font-size: 25px;
}

.sport main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.sport main section:nth-child(2) {
    background-color: #fdffde;
    text-align: center;
    margin-bottom: 0;
}

.sport {
    background-color: #738ea3;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#index main a:nth-child(6) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
    text-decoration: none;
}

#index main a:nth-child(6)::before {
    content: '↑';
    font-size: 72px;
}

#topp:target {
    background-color: #738ea3;
}

@font-face { /*Gör så jag kan implementera en font utanför html's bibliotek*/
    font-family: minfont; /*Döper min font*/
    src: url(/fonts/font.ttf); /*Länkar fonten*/
}

@media screen and (min-width: 600px) {
    nav a {
        display: block;
        border-radius: 4px;
        text-align: center;
        padding: 2px 3px;
        font-size: 3.3vh;
    }

    a:link {
        text-decoration: inherit;
    }
    
    a:visited {
        text-decoration: inherit;
    }
    
    nav a:focus, nav a:hover {
        border: 1px solid black;
        font-size: larger;
        background-color: rgba(194, 97, 56, 0.719)
    }

    a:active {
        text-decoration: inherit;
    }

    #index main section:nth-child(1) {
        background-image: url(/src/sport1.jpg);
    }

    header > nav li:nth-child(1) {
        padding-right: 40vw;
    }

    .sport main section:nth-child(2) {
        display: flex;
        flex-direction: row;
    }

    .sport main section:nth-child(2) p {
        margin: auto;
    }

    .sport section:nth-child(3) p {
        margin-top: 2vh;
    }

    iframe {
        width: 100%;
    }
    
    #index main > section:nth-child(2) {
        flex-direction: row;
    }

    #index section:nth-child(2) img {
        width: 30%;
    }

    #index main > section:nth-child(3) {
        flex-direction: row-reverse;
    }

    #index main section:nth-child(3) img {
        width: 60%;
    }

    #vanliga .trespalt {
        display: flex;
        flex-direction: row;
    }

    #ovanliga main section img {
        padding-bottom:1.5vh;
        margin: 12px;
        width: 40%;
    }

    #ovanliga main section {
        display: flex;
        flex-direction: row;
    }

    #ovanliga main section p {
        width: 40vw;
    }
}